<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="../style.css">
    <link href="https://fonts.googleapis.com/css?family=News+Cycle&display=swap" rel="stylesheet">

    <meta charset="utf-8">
    <title>Films</title>
  </head>
  <body>

    <%= yield %>
      <!-- erb(:films)-->
  </body>

</html>
